.hero-header {
  position: relative;
}

.hero-text {
  position: absolute;
  left: 10%;
  top: 40%;
  text-align: center;
}

.hero-image-mobile {
  display: none;
}

/* ========================== CTA ====================*/

.cta {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========================== SOCIALS ====================*/

.header__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
  padding-top: 2%;

  /* Animation V2 */
}

/*======================= MEDIA QUERIES (small devices)================ */

@media screen and (max-width: 600px) {
  .hero-image-desktop {
    display: none;
  }

  .hero-image-mobile {
    display: block;
    height: 100vh;
  }

  .hero-text {
    top: 50%;
    width: 80%;
  }
}
